@model IEnumerable<MuzeQuiz.Models.AppUser>
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<a href="/Identity/Account/Register">Add User</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Add User To a Role", "AddRoleToUser", new { userId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>